<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Embrasure"
           Manufacturer="Embrasure, Inc."
           Version="$(var.ProductVersion)"
           UpgradeCode="955000B2-47A6-4593-97E4-2D43DB83E929"
           Language="1033"
           Scope="perUser"
           InstallerVersion="500"
           Compressed="yes">
    <SummaryInformation Description="Embrasure CLI installer"
                        Manufacturer="Embrasure, Inc." />
    <MajorUpgrade Schedule="afterInstallExecute"
                  DowngradeErrorMessage="A newer version of Embrasure is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="WINDOWSBUILDNUMBER" Secure="yes">
      <RegistrySearch Id="WindowsBuildSearch"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion"
                      Name="CurrentBuildNumber"
                      Type="raw"
                      Bitness="always64" />
    </Property>
    <Property Id="NATIVEARCH" Secure="yes">
      <RegistrySearch Id="NativeArchitectureSearch"
                      Root="HKLM"
                      Key="SYSTEM\CurrentControlSet\Control\Session Manager\Environment"
                      Name="PROCESSOR_ARCHITECTURE"
                      Type="raw"
                      Bitness="always64" />
    </Property>
    <Launch Condition="Installed OR (NATIVEARCH ~= &quot;AMD64&quot; AND ((MsiNTProductType = 1 AND WINDOWSBUILDNUMBER &gt;= 22000) OR (MsiNTProductType &gt; 1 AND WINDOWSBUILDNUMBER &gt;= 20348)))"
            Message="Embrasure requires 64-bit Windows 11 or Windows Server 2022 or newer." />

    <Property Id="ARPCONTACT" Value="Embrasure, Inc." />
    <Property Id="ARPHELPLINK" Value="https://github.com/EmbrasureAI/embrasure-cli/issues" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/EmbrasureAI/embrasure-cli" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLROOT" Name="Embrasure">
          <Directory Id="INSTALLBIN" Name="bin" />
          <Directory Id="LIBEXECDIR" Name="libexec">
            <Directory Id="LIBEXECAPPDIR" Name="embrasure">
              <Directory Id="PYTHONDIR" Name="python" />
            </Directory>
          </Directory>
          <Directory Id="DOCSDIR" Name="docs">
            <Directory Id="DOCSREFERENCEDIR" Name="reference" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Embrasure" Level="1">
      <ComponentRef Id="CliComponent" />
      <ComponentRef Id="PathComponent" />
      <ComponentRef Id="SqlglotComponent" />
      <ComponentRef Id="UpdateHelperComponent" />
      <ComponentRef Id="LicenseComponent" />
      <ComponentRef Id="NoticeComponent" />
      <ComponentRef Id="ReadmeComponent" />
      <ComponentRef Id="SecurityComponent" />
      <ComponentRef Id="ExampleConfigComponent" />
      <ComponentRef Id="EnterpriseDocsComponent" />
      <ComponentRef Id="SecurityDocsComponent" />
      <ComponentRef Id="DirectoryCleanupComponent" />
    </Feature>

    <Component Id="CliComponent" Directory="INSTALLBIN" Guid="16585A7A-667D-4723-9323-C3CC0242C45B">
      <File Id="EmbrasureExe" Source="$(var.PayloadDir)\bin\embrasure.exe" Checksum="yes" />
      <RegistryValue Root="HKCU" Key="Software\Embrasure\EmbrasureCLI\Components"
                     Name="Cli" Type="string" Value="[ProductVersion]" KeyPath="yes" />
    </Component>
    <Component Id="PathComponent" Directory="INSTALLBIN" Guid="7C39B312-FB10-4616-A6C1-6FD9D61C53FE">
      <RegistryValue Root="HKCU"
                     Key="Software\Embrasure\EmbrasureCLI"
                     Name="PathInstalled"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
      <Environment Id="UserPathEntry"
                   Name="PATH"
                   Value="[INSTALLBIN]"
                   Action="set"
                   Part="last"
                   Permanent="no"
                   System="no" />
    </Component>
    <Component Id="SqlglotComponent" Directory="PYTHONDIR" Guid="910B4E29-8099-4A9E-883B-EFFAC6A4F0E1">
      <File Id="SqlglotWheel"
            Source="$(var.PayloadDir)\libexec\embrasure\python\sqlglot-30.7.0-py3-none-any.whl" />
      <RegistryValue Root="HKCU" Key="Software\Embrasure\EmbrasureCLI\Components"
                     Name="Sqlglot" Type="string" Value="[ProductVersion]" KeyPath="yes" />
    </Component>
    <Component Id="UpdateHelperComponent" Directory="LIBEXECAPPDIR" Guid="1764EF4C-1F89-46D5-B074-6C8E4FAF9820">
      <File Id="UpdateHelper"
            Source="$(var.PayloadDir)\libexec\embrasure\update-helper.ps1" />
      <RegistryValue Root="HKCU" Key="Software\Embrasure\EmbrasureCLI\Components"
                     Name="UpdateHelper" Type="string" Value="[ProductVersion]" KeyPath="yes" />
    </Component>

    <Component Id="LicenseComponent" Directory="DOCSDIR" Guid="ABB706C4-5E9D-439D-ABBA-794C74C98798">
      <File Id="LicenseFile" Source="$(var.PayloadDir)\docs\LICENSE" />
      <RegistryValue Root="HKCU" Key="Software\Embrasure\EmbrasureCLI\Components"
                     Name="License" Type="string" Value="[ProductVersion]" KeyPath="yes" />
    </Component>
    <Component Id="NoticeComponent" Directory="DOCSDIR" Guid="64B8AC87-2B24-4691-A573-8162D656D0A2">
      <File Id="NoticeFile" Source="$(var.PayloadDir)\docs\NOTICE" />
      <RegistryValue Root="HKCU" Key="Software\Embrasure\EmbrasureCLI\Components"
                     Name="Notice" Type="string" Value="[ProductVersion]" KeyPath="yes" />
    </Component>
    <Component Id="ReadmeComponent" Directory="DOCSDIR" Guid="A47829AE-40C4-49F6-9CB9-B0040260826A">
      <File Id="ReadmeFile" Source="$(var.PayloadDir)\docs\README.md" />
      <RegistryValue Root="HKCU" Key="Software\Embrasure\EmbrasureCLI\Components"
                     Name="Readme" Type="string" Value="[ProductVersion]" KeyPath="yes" />
    </Component>
    <Component Id="SecurityComponent" Directory="DOCSDIR" Guid="B2B25D27-33EA-427E-8E86-7361DFA2F4B5">
      <File Id="SecurityFile" Source="$(var.PayloadDir)\docs\SECURITY.md" />
      <RegistryValue Root="HKCU" Key="Software\Embrasure\EmbrasureCLI\Components"
                     Name="Security" Type="string" Value="[ProductVersion]" KeyPath="yes" />
    </Component>
    <Component Id="ExampleConfigComponent" Directory="DOCSDIR" Guid="1AE5AE90-AEB9-42B9-A786-FC514D547BFE">
      <File Id="ExampleConfigFile" Source="$(var.PayloadDir)\docs\embrasure-check.example.yml" />
      <RegistryValue Root="HKCU" Key="Software\Embrasure\EmbrasureCLI\Components"
                     Name="ExampleConfig" Type="string" Value="[ProductVersion]" KeyPath="yes" />
    </Component>
    <Component Id="EnterpriseDocsComponent" Directory="DOCSREFERENCEDIR" Guid="6BCD256A-1683-4A7D-AB48-C7E099DE679D">
      <File Id="EnterpriseDocsFile" Source="$(var.PayloadDir)\docs\reference\enterprise.md" />
      <RegistryValue Root="HKCU" Key="Software\Embrasure\EmbrasureCLI\Components"
                     Name="EnterpriseDocs" Type="string" Value="[ProductVersion]" KeyPath="yes" />
    </Component>
    <Component Id="SecurityDocsComponent" Directory="DOCSREFERENCEDIR" Guid="A773094F-6962-47F4-A8A0-21723F71B9C2">
      <File Id="SecurityDocsFile" Source="$(var.PayloadDir)\docs\reference\security-and-data-flow.md" />
      <RegistryValue Root="HKCU" Key="Software\Embrasure\EmbrasureCLI\Components"
                     Name="SecurityDocs" Type="string" Value="[ProductVersion]" KeyPath="yes" />
    </Component>

    <Component Id="DirectoryCleanupComponent" Directory="INSTALLROOT" Guid="1C7202E4-B6CC-4F14-8CDF-D4E5CCC850FA">
      <RegistryValue Root="HKCU" Key="Software\Embrasure\EmbrasureCLI\Components"
                     Name="Directories" Type="string" Value="[ProductVersion]" KeyPath="yes" />
      <RemoveFolder Id="RemovePythonDirectory" Directory="PYTHONDIR" On="uninstall" />
      <RemoveFolder Id="RemoveLibexecAppDirectory" Directory="LIBEXECAPPDIR" On="uninstall" />
      <RemoveFolder Id="RemoveLibexecDirectory" Directory="LIBEXECDIR" On="uninstall" />
      <RemoveFolder Id="RemoveBinDirectory" Directory="INSTALLBIN" On="uninstall" />
      <RemoveFolder Id="RemoveDocsReferenceDirectory" Directory="DOCSREFERENCEDIR" On="uninstall" />
      <RemoveFolder Id="RemoveDocsDirectory" Directory="DOCSDIR" On="uninstall" />
      <RemoveFolder Id="RemoveInstallRoot" Directory="INSTALLROOT" On="uninstall" />
      <RemoveFolder Id="RemoveProgramsFolder" Directory="ProgramsFolder" On="uninstall" />
    </Component>

    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="ui\banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="ui\dialog.png" />
  </Package>
</Wix>
